# ---- Go build ----
*.exe
*.out

# ---- Logs / Temp ----
*.log
*.tmp
*.cache
*.bak

# ---- Dependency tools ----
.env
.env.*

watchlist.json

# ---- IDEs / Editors ----
.vscode/
node_modules/